@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Dirt&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.page {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url("https://mars.nasa.gov/system/content_pages/main_images/79_mars_globe-web.jpg");
	min-height: 100vh;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	padding: 40px 0;
}

.title{
	font-family: 'Rubik Dirt', 'Poppins', Arial, sans-serif;
	background-color:rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
	padding: 10px 0;
}

.form-container {
	
	padding: 20px;
}

.form-select {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.toggle-group {
	background-color: rgba(159, 104, 3, 0.172);
}

#date-input {
	padding: 3px 8px;
	background-color: rgba(255, 166, 0, 0.206);
	border-radius: 4px;
	color: #ffa6009e;
}

.MuiFormHelperText-root {
	color: #ffa6008e !important;
}

.date-options {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.spaced {
	display: flex;
	justify-content: space-around;
	gap: 10px;
}


.gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	padding: 20px 0px;
}

.card {
	width: 250px;
}

.card-img {
	object-fit: cover;
	width: 250px;
}

.card-content {
	background-color: rgba(0, 0, 0, 0.261);
	color: rgba(255, 255, 255, 0.768);
	line-height: 1.2;
}

.card-content p:first-of-type {
	font-size: 16px;
	color: rgba(255, 166, 0, 0.558);
}

.card-content p {
	font-size: 14px;
	letter-spacing: 0.5px;
}

.pagination-container {
	position: fixed;
	bottom: 0;
	z-index: 200;
	padding: 5px 10px;
	background-color: #efb22d;
	width: 100vw;
}

.pagination-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 550px){
	.form-select {
		flex-direction: column;
	}
	.spaced {
		flex-direction: column;
	}
	.label {
		margin-bottom: 10px
	}
	.page{
		padding-top: 0;
	}
}

.Toastify__progress-bar {
	background-color:rgb(195, 128, 3);
}